@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FPT University</h1>
    <p class="lead">FPT University's goals are to train and provide high quality human resources in the Information Technology industry (Major in Software Engineering, Information Security, Digital Art Design), Business Administration (Major). Major in Business Administration, International Business, Travel and Travel Management, Hotel Management, Multimedia Communication), English language, Korean language, Japanese language for domestic businesses, Foreign corporations and enterprises started with FPT University students..</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Specialist</h2>
        <p>
            Graphic Design
        </p>
        <p>
            International Bussiness
        </p>
        <p>
            Software Technology
        </p>
        <p>
            Safety Information
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Admissions</h2>
        <p>The total score of 3 subjects (each subject is averaged over the last two semesters of high school) reaches 18 points * or more in terms of combinations of subjects corresponding to the registered majors at FPT University;</p>
        <p>The total score of 3 subjects in the high school exam is 15 points ** or more (including priority points as prescribed by the Ministry of Education and Training) according to the combination of subjects corresponding to the field registered at FPT University.</p>
        
    </div>
    <div class="col-md-4">
        <h2>News</h2>
    </div>
</div>